body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.headerText {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 650px;
  padding: 0 20px;
}

h1 {
  font-size: 60px;
  margin: 0;
}

h3 {
  font-weight: 400;
}

.blackButton {
  height: 40px;
  width: 120px;
  /* padding: 10px; */
  color: white;
  font-weight: 400;
  background-color: black;
  border-radius: 20px;
}

.arrowCircle {
  height: 20px;
  width: 20px;
  margin: 65px auto 0;
  padding: 5px;
  border: 1px solid #e57201;
  border-radius: 50%;
}

.fa-arrow-right {
  color: #e57201;
  margin-left: 4px;
}

.heroImage {
  height: 650px;
  width: 650px;
}

.heroImage img {
  height: 100%;
  width: 100%;
}

hr {
  margin: 0;
  border-color: #fafafa;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  height: 70px;
}

.tabButton {
  border: none;
  font-weight: 700;
  font-size: 12px;
}

.tabs button:hover {
  background-color: #fafafa;
}

/* Create an active/current tablink class */
.tabs button.active {
  color: #e57201;
  border-bottom: 2px solid #e57201;
}

.tabContent {
  width: 70%;
  margin: 30px auto;
}

.tabContentContainer {
  height: 150px;
}

.ctaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 50px 50px 30px;
}

.cta {
  margin: 0 3%;
  width: 300px;
  height: 400px;
  padding: 25px;
  background-color: #fafafa;
}

.cta h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.cta h4 {
  font-size: 18px;
  font-weight: 700;
}

footer {
  height: 60px;
  padding-right: 25px;
  text-align: right;
  background-color: #141e3c;
  border-top: 1px solid #e57201;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer p {
  font-size: 12px;
  color: white;
}
